#root, body, html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #26272b;
}

nav {
  color: #f4f4f4;
  background-color: #26272b;
  width: 80%;
  height: 5rem;
  margin-left: 8.5rem;
  border-radius: 0 0 2rem 2rem;
  display: inline-block;
  text-align: center;
  backdrop-filter: saturate(180%) blur(2rem);
  box-shadow: 0 0 2rem rgba(0,0,0,0.2)
}

nav p {
  font-size: 1.5rem;
  font-weight: bold;
}

div {
  font-family: Montserrat,Helvetica,sans-serif;
  color: #4d4d4d;
  text-transform: uppercase;
}

